.header {
	display: flex;
	align-items: center;
	height: 90px;
	width: 100%;
	background-color: rgb(255, 255, 255);
	box-shadow: 0px 2px 4.75px 0.25px rgba(0, 0, 0, 0.15);
}

.container {
	width: 100%;
	max-width: 1140px;
	margin: 0 auto;
	padding: 0 5px;
}

.header_inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header_menu__link {
	display: inline-block;
	vertical-align: bottom;
	text-decoration: none;
	color: #777;
	text-transform: uppercase;
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	font-weight: 700;
	margin: 0 25px;
	transition: color .2s linear;
	position: relative;
}

.header_menu__link.active {
	color: #000;
}

.header_menu__link:hover {
	color: #000;
}

.header_menu__link.active:before {
	content: '';
	width: 20px;
	height: 1px;
	background-color: #000;
	display:block;
	position: absolute;
	left: -34px;
	top: 6px;
}

.header_menu {
	/*margin-left: 38%;*/
	position: relative;
/*	right: -200px*/
}

.search {
	display: inline-block;
	position:relative;
}


.search_img {
	cursor: pointer;
	display: block;
	width: 13px;
	height: 13px;
	vertical-align: bottom;
	position: absolute;
	right: 0;
	top: 7px;
	right: 9px;
	z-index: 1;
	transition: 0.5s;
}

.search_btn {
	display: block;
	background: none;
	box-shadow: none;
	border: none;
	padding: 0;
	position: absolute;
	z-index: 2;
	outline: none;
	border: none;
	width: 22px;
	height: 22px;
	right: 10px;
	bottom: 4px;
}

.btn_search_img {
	width: 13px;
	height: 13px;
	vertical-align: bottom;
	cursor: pointer;
	position: absolute;
	right: -1px;
	bottom: 8px;
}

.search_input {
	width: 0px; /*170*/
	padding: 5px 45px 5px 10px;
	box-sizing: border-box;
	box-shadow:inset 0 0 1px 1px rgba(0, 0, 0, 0.15);
	border: none;
	font-size: 12px;
	line-height: 16px;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	outline: none;
	border-radius: 22px;
	background-color: #fff;
	z-index: 2;
	margin-bottom: 6px;
	transition: 0.5s;
}

.serch_input_container {
	display: inline-block;
	position: relative;
	opacity: 0;
}

.nav_container {
	display: flex;
	justify-content: flex-end;
	width: 100%;
}