.header {
	display: flex;
	align-items: center;
	height: 90px;
	width: 100%;
	background-color: rgb(255, 255, 255);
	box-shadow: 0px 2px 4.75px 0.25px rgba(0, 0, 0, 0.15);
}

.container {
	width: 100%;
	max-width: 1140px;
	margin: 0 auto;
	padding: 0 10px;
}

.header_inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header_menu__link {
	display: inline-block;
	vertical-align: bottom;
	text-decoration: none;
	color: #777;
	text-transform: uppercase;
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	font-weight: 700;
	margin: 0 25px;
	transition: color .2s linear;
	position: relative;
}

.header_menu__link.active {
	color: #000;
}

.header_menu__link:hover {
	color: #000;
}

.header_menu__link.active:before {
	content: '';
	width: 20px;
	height: 1px;
	background-color: #000;
	display:block;
	position: absolute;
	left: -34px;
	top: 6px;
}

.header_menu {
	/*margin-left: 38%;*/
	position: relative;
/*	right: -200px*/
}

.search {
	display: inline-block;
	position:relative;
}


.search_img {
	cursor: pointer;
	display: block;
	width: 13px;
	height: 13px;
	vertical-align: bottom;
	position: absolute;
	right: 0;
	top: 7px;
	right: 9px;
	z-index: 1;
	transition: 0.5s;
}

.search_btn {
	display: block;
	background: none;
	box-shadow: none;
	border: none;
	padding: 0;
	position: absolute;
	z-index: 2;
	outline: none;
	border: none;
	width: 22px;
	height: 22px;
	right: 10px;
	bottom: 4px;
}

.btn_search_img {
	width: 13px;
	height: 13px;
	vertical-align: bottom;
	cursor: pointer;
	position: absolute;
	right: -1px;
	bottom: 8px;
}

.search_input {
	width: 0px; /*170*/
	padding: 5px 45px 5px 10px;
	box-sizing: border-box;
	box-shadow:inset 0 0 1px 1px rgba(0, 0, 0, 0.15);
	border: none;
	font-size: 12px;
	line-height: 16px;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	outline: none;
	border-radius: 22px;
	background-color: #fff;
	z-index: 2;
	margin-bottom: 6px;
	transition: 0.5s;
}

.serch_input_container {
	display: inline-block;
	position: relative;
	opacity: 0;
}

.nav_container {
	display: flex;
	justify-content: flex-end;
	width: 100%;
}

/* mobele button */

.mobile_menu_button {
	display: none;
	position: absolute;
	right: 10px;
	width: 50px;
	height: 50px;
	z-index: 5;
	background-color: rgba(255, 255, 255, 0.15);
	cursor: pointer;
}

.nav_container.open {
	top: 16px;
}

#sandwich {
	padding-left: 5px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 50px;
	height: 50px;
	position: relative;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
} 
  
.sw-topper {
	position: absolute;
	display: inline-block;
	top: 5px;
	width: 40px; 
	height: 5px;
	background-color: #000;
	border: none;
	border-radius: 4px 4px 4px 4px;
	transition: transform 0.5s, top 0.2s;	    
	/* transition-delay: 0.2s, 0s; */
}
    



.sw-bottom {
	position: absolute;	
    width: 40px; 
	height: 5px;
    top: 20px;   
    background: #000;
    border: none;
    border-radius: 4px 4px 4px 4px;
    transition: transform 0.5s, top 0.2s;
    transition-delay: 0.2s, 0s; 
}
    

.sw-footer {

	position: absolute;
    width: 40px; 
	height: 5px;
    top: 35px;
    background: #000;
    border: none;
    border-radius: 4px 4px 4px 4px;
    transition: all 0.5s;
    transition-delay: 0.1s; 
}
    

 
#sandwich.active .sw-topper {
	background-color: #777;
	top: 20px;
    transform: rotate(140deg);
}
    
#sandwich.active .sw-bottom {
	background-color: #777;
	top: 20px;
    transform: rotate(-140deg);
}
    
#sandwich.active .sw-footer {
	opacity: 0;
    top: 0;
    transform: rotate(180deg);
}
    

/* end mobele button */
